<div class="jumbotron">
    <h1 class="display-4">Bienvenidos</h1>
    <p class="lead">Este es un pequeño catálogo con los personajes de la serie Rick y Morty</p>
    <hr class="my-4">
    <p>Disfruta conociendo todos los detalles de los personajes de la serie.</p>
    <a class="btn btn-primary btn-lg" [routerLink]="['characters']" role="button">Explorar</a>
</div>
