<div *ngIf="characters.length > 0">
    <div class="col-md-12">
        <button class="btn btn-primary button-grid" type="button" name="button" (click)="grid = !grid">
            <i *ngIf="!grid" class="fas fa-th"></i>
            <i *ngIf="grid" class="fas fa-th-large"></i>
        </button>
    </div>
    <div class="card-columns" *ngIf="!grid">

        <div class="card" style="width: 18rem;" *ngFor="let character of currentCharacters">
            <a [routerLink]="['/character/detail/', character.id]">
                <img class="card-img-top" [src]="character.image" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{ character.name }}</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row" *ngIf="grid">
        <div class="col-md-2 character-img" *ngFor="let character2 of characters">
            <a [routerLink]="['/character/detail/', character2.id]"
                data-container="body"
                data-toggle="popover"
                data-placement="bottom"
                data-trigger="hover"
                [attr.data-content]="character2.name">
                <img class="img img-fluid img-thumbnail" [src]="character2.image" alt="...">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button *ngIf="previousPage || showPrev" type="button" class="btn btn-primary" name="button" (click)="getPrevPage()">Anterior</button>
        </div>
        <div class="col-md-6">
            <button *ngIf="nextPage || showNext" type="button" class="btn btn-primary" name="button" (click)="getNextPage()">Siguiente</button>
        </div>
    </div>
</div>
