<div *ngIf="character">
    <h1>{{ character.name }}</h1>
    <hr>

    <div class="row">

        <div class="col-md-4">

            <img [src]="character.image" class="img-fluid img-thumbnail" [alt]="character.name">
            <br><br>


        </div>

        <div class="col-md-8">
            <p>
                Estado: <b>{{ character.status }}</b><br>
                Especie: <b>{{ character.species }}</b><br>
                Género: <b>{{ character.gender }}</b><br>
                Origen: <b>{{ character.origin.name || 'desconocido'}}</b>
            </p>


        </div>
        <a [routerLink]="['/characters']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
</div>
